.banner-main{
    position: relative;
    .bird{
        position: absolute;
        top: 20%;
        display: flex;
        max-width: 30%;
        left: 50%;
        transform: translateX(-50%);
        img{
            width: 85%;
        }
    }
}